{% load static %}
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="{% url 'dashboard' %}">
                    <img src="{% static 'assets/images/logo.png' %}" height="24">
                    <h2 class="brand-text">IoTech</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                    class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i
                    class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
                    data-ticon="disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active nav-item"><a class="d-flex align-items-center" href="{% url 'dashboard' %}"><i
                    data-feather="sliders"></i><span class="menu-title text-truncate" data-i18n="Home">Painel</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="home"></i><span
                    class="menu-title text-truncate" data-i18n="Page Layouts">Ambientes</span><span
                    class="badge badge-light-danger badge-pill ml-auto mr-1">2</span></a>
                <ul class="menu-content">
                    <li><a class="d-flex align-items-center" href="{% url 'list-environments' %}"><i
                            data-feather="circle"></i><span class="menu-item"
                                                            data-i18n="Collapsed Menu">Listar</span></a>
                    </li>
                    <li><a class="d-flex align-items-center" href="{% url 'create-environments' %}"><i
                            data-feather="circle"></i><span
                            class="menu-item" data-i18n="Layout Boxed">Criar</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
