{% load static %}
<section id="multiple-column-form">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">[[title]]</h4>
                </div>
                <div class="card-body">
                    <form class="form" method="post" action="{% url 'edit-environment' pk=object.id%}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="name">Nome</label>
                                    <input type="text" id="name" class="form-control"
                                           placeholder="{{ object.name }}" name="name" value="{{ object.name }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="local">Local</label>
                                    <input type="text" id="local" class="form-control"
                                           placeholder="{{ object.local }}" name="local" value="{{ object.local }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="t_t">Temperatura Desejada</label>
                                    <input type="number" id="t_t" class="form-control"
                                           placeholder="{{ object.t_t }}" name="t_t" value="{{ object.t_t }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="t_a">Temperatura Atual</label>
                                    <input type="number" id="t_a" class="form-control" readonly
                                           placeholder="{{ object.t_a }}" name="t_a" value="{{ object.t_a }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="umd">Umidade Relativa do Ar</label>
                                    <input type="number" id="umd" class="form-control" readonly
                                           placeholder="{{ object.umd }}" name="t_a" value="{{ object.umd }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="n_g">Concentração de Gases Nocivos</label>
                                    <input type="number" id="n_g" class="form-control"  readonly name="n_g" value="{{ object.n_g }}">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" value="Update"
                                        class="btn btn-primary mr-1 waves-effect waves-float waves-light">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>