{% extends 'pages/auth/base.html' %}
{% load static %}
{% block content %}
    <div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-v2">
                <div class="auth-inner row m-0">
                    <!-- Brand logo-->
                    <a class="brand-logo" href="javascript:void(0);">
                        <img src="{% static 'assets/images/logo.png' %}" height="28">
                        <h2 class="brand-text text-primary ml-1">IoTech</h2>
                    </a>
                    <!-- /Brand logo-->
                    <!-- Left Text-->
                    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img
                                class="img-fluid" src="{% static 'app-assets/images/pages/login-v2.svg' %}"
                                alt="Login V2"/></div>
                    </div>
                    <!-- /Left Text-->
                    <!-- Login-->
                    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                            <h4 class="card-title mb-1">Seja bem vindo! 👋</h4>
                            <p class="card-text mb-2">Por favor digite suas credenciais abaixo para iniciar a sessão</p>
                            <form class="auth-login-form mt-2" action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-label" for="login-email">Email</label>
                                    <input class="form-control" id="login-email" type="text" name="email"
                                           placeholder="john@example.com" aria-describedby="login-email" autofocus=""
                                           {% if old_email %}
                                               value="{{ old_email }}"
                                           {% endif %}
                                           tabindex="1"/>
                                {% if form.email.errors  %}
                                        <strong class="alert alert-danger">{{ form.email.errors|striptags }}</strong>
                                {% endif %}
                                {% if form.non_field_errors  %}
                                        <strong class="alert alert-danger">{{ form.non_field_errors|striptags }}</strong>
                                {% endif %}

                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-between">
                                        <label for="login-password">Senha</label><a
                                            href="page-auth-forgot-password-v2.html"><small>Esqueceu a
                                        senha?</small></a>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input class="form-control form-control-merge" id="login-password"
                                               type="password" name="password" placeholder="············"
                                               aria-describedby="login-password" tabindex="2"/>
                                        <div class="input-group-append"><span class="input-group-text cursor-pointer"><i
                                                data-feather="eye"></i></span></div>
                                        {% if form.password.errors %}
                                            <strong class="alert alert-danger">{{ form.password.errors|striptags }}</strong>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="remember-me" type="checkbox"
                                               tabindex="3" name="remember"/>
                                        <label class="custom-control-label" for="remember-me"> Lembrar-me</label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" tabindex="4">Entrar</button>
                            </form>
                            <p class="text-center mt-2"><span>Ainda não possui uma conta?</span><a
                                    href="{% url 'register' %}"><span>&nbsp;Criar Conta</span></a></p>

                        </div>
                    </div>
                    <!-- /Login-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}