{% extends 'pages/auth/base.html' %}
{% load static %}
{% block content %}
        <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-v2">
                    <div class="auth-inner row m-0">
                        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
                        <img src="{% static 'assets/images/logo.png' %}" height="28">
                            <h2 class="brand-text text-primary ml-1">IoTech</h2>
                        </a>
                        <!-- /Brand logo-->
                        <!-- Left Text-->
                        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="{% static 'app-assets/images/pages/register-v2.svg' %}" alt="Register V2" /></div>
                        </div>
                        <!-- /Left Text-->
                        <!-- Register-->
                        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                                <h4 class="card-title mb-1">Crie sua Conta 🚀</h4>
                                <p class="card-text mb-2">Insira seus dados abaixo e comece a acessar o sistema hoje mesmo!</p>
                                {{ form.non_field_errors }}
                                <form class="auth-register-form mt-2" action="{% url 'register' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-label" for="register-username">Nome</label>
                                        <input class="form-control" id="register-username" type="text" name="name" placeholder="johndoe" aria-describedby="register-username" autofocus="" tabindex="1" />
                                        {{ form.errors.name }}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="register-email">Email</label>
                                        <input class="form-control" id="register-email" type="text" name="email" placeholder="john@example.com" aria-describedby="register-email" tabindex="2" />
                                        {{ form.errors.email }}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="register-password">Senha</label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control form-control-merge" id="register-password" type="password" name="password" placeholder="············" aria-describedby="register-password" tabindex="3" />
                                            <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                                        </div>
                                        {{ form.errors.password }}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="register-password-confirmation">Confirmar Senha</label>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control form-control-merge" id="register-password-confirmation" type="password" name="password_confirmation" placeholder="············" aria-describedby="register-password" tabindex="3" />
                                            <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                                        </div>
                                        {{ form.errors.confirmation }}
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" id="register-privacy-policy" type="checkbox" tabindex="4" />
                                            <label class="custom-control-label" for="register-privacy-policy">Eu concordo com os<a href="javascript:void(0);">&nbsp;Termos e Política de Privacidade</a></label>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-block" tabindex="5">Cadastrar</button>
                                </form>
                                <p class="text-center mt-2"><span>Já possui uma conta?</span><a href="{% url 'login' %}"><span>&nbsp;Então faça o login</span></a></p>
                            </div>
                        </div>
                        <!-- /Register-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
